{% extends 'base.html' %}
{% block title %}
    Log in | Nothing About It
{% endblock %}

{% block content %}
<body class="text-center">
    <br>
    <div class="container w-50">
        <form method="POST" class="form-signin" style="color:white">
            {{ form.hidden_tag() }}
            <img class="mb-4" height="128px" width="128px" src="https://s2.coinmarketcap.com/static/img/coins/64x64/14356.png">
            <h1 class="h3 mb-3 font-weight-normal">
                Log in
            </h1>

            <!-- {{ form.username.label() }} -->
            {{ form.username(class="form-control mb-2", placeholder="Username") }}

            <!-- {{ form.password.label() }} -->
            {{ form.password(class="form-control", placeholder="Password") }}
            <br>

            <div class="checkbox mb-3">
                <h6>Do not registered yet?</h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Register</a>
            </div>
            {{ form.submit(class="btn btn-light") }}
        </form>
    </div>
</body>
{% endblock %}