{% extends 'base.html' %}
{% block title %}
    New post | Nothing About It
{% endblock %}

{% block content %}
<body class="text-left">
    <br>
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
        {{ form.hidden_tag() }}
            <h1 class="h3 font-weight-normal">
                Post something new
            </h1>
            <br>
            <h5> {{ form.title.label() }} </h5>
            {{ form.title(class="form-control", placeholder="Title") }}

            <h5 class="mt-2"> {{ form.text.label() }} </h5>
            {{ form.text(class="form-control", placeholder="Write text here") }}

            <br>
            {{ form.submit(class="btn btn-block w-25 btn-primary") }}
        </form>
    </div>
</body>
{% endblock %}